doctype html
html(lang="en")
  head
    title Michelle and Timur's Cupid
  body
    h1 Michelle and Timur's Cupid
    h2 A silly Valentine's Day idea
    h4 
        a(href='/login') Login with Facebook